body{
    background-color: #44d1b9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23da1173'/%3E%3Cstop offset='1' stop-color='%23322d33'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%2344d1b9' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    height:100vh
}

#holder{
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 60%;
    margin: auto;
    margin-top:5%;
    background-color:#282529;
    box-shadow: 5px 5px 20px #7497e6;
    padding: 5%;
    color: #44d1b9;
    display:block;

    align-content: space-between;

}
#holder img{
    width:60%;
    height:80%;
    margin:auto;
}
#holder input{
    margin-top: 15px;
    background-color: #1b1c1d;
    border: 1px solid #44d1b9;
    border-radius: 5px;
    height: 35px;

}
#holder input:focus{
    outline:none;
    border: 2px solid #7497e6;


}
h1, a,p{
    color:#44d1b9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: normal;
}
#holder button{
    border: solid 1px #da1173;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color:#7497e6;
    font-size: 20px;
}
.input input{
    width: 70%;
    text-align: center;
    color:#8b70da;
}
.input p{
    margin-bottom: 0.5%;
}

.center{
    text-align:center;
    margin: auto;
}
#holder button:hover, #holder button:hover p {
    background-color: #da1173;
    color:#44d1b9;
}
a:hover, a:hover p{
    color:#44d1b9;
}
#link1{
    float:left
}
#link1{
    float:right
}
@media only screen and (max-width: 720px) {

    #holder{
        max-width: 90%;
        margin-top: 25%;
        border-radius: 15px;
        grid-template-columns: auto auto;

    }
    .input input{
        width: 100%;

    }
    #link1{
        text-align: center;
        float:none;
    }
    #link2{
        text-align: center;
        float:none
    }
    .displayNone{
        display: none;
    }
}



